@import url('https://fonts.google.com/share?selection.family=Archivo:ital,wght@0,100..900;1,100..900');

body {
  margin: 0;
  font-family: 'Archivo', sans-serif;
  background: #f5f7fa;
  color: #333;
}